*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: coral;
}
.container{
    background: wheat;
    width: 1000px;
    height: 600px;
    box-shadow: 2px 2px 30px gray;
    padding: 30px;
    overflow-y: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}
.product img{
    max-width: 100%;
    width: 300px;
    object-fit: cover;
}
form{
    border: 1px solid rgb(71, 56, 56);
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
form input{
    border: none;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    outline: none;
    background: transparent;
}
form i{
    font-size: 20px;
}
.product-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.product{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    padding: 20px;
}


.details h2{
    font-size: 30px;
}









